* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.colors {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(184, 176, 176);
    height: 40vh;

}

div.colors div {
    box-shadow: 0 0 8px white;
}

div.red {
    width: 15vh;
    height: 15vh;
    background-color: red
}

div.green {
    width: 15vh;
    height: 15vh;
    background-color: green;
}

div.blue {
    width: 15vh;
    height: 15vh;
    background-color: blue;
}

div.yellow {
    width: 15vh;
    height: 15vh;
    background-color: yellow;
}

div.purple {
    width: 15vh;
    height: 15vh;
    background-color: purple;
}

div.black {
    width: 15vh;
    height: 15vh;
    background-color: black;
}

div.showColors {
    display: inline-block;
    width: 50vw;
}