* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/colour-1885352_1920.jpg);
    background-size: cover;
}

div.colors {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(184, 176, 176); */
    height: 30vh;
    opacity: 0.9;

}

div.colors div {
    box-shadow: 0 0 8px white;
    opacity: 1;
}

div.red {
    width: 15vh;
    height: 15vh;
    background-color: red
}

div.green {
    width: 15vh;
    height: 15vh;
    background-color: green;
}

div.blue {
    width: 15vh;
    height: 15vh;
    background-color: blue;
}

div.yellow {
    width: 15vh;
    height: 15vh;
    background-color: yellow;
}

div.purple {
    width: 15vh;
    height: 15vh;
    background-color: purple;
}

div.black {
    width: 15vh;
    height: 15vh;
    background-color: black;
}

div.showColors {
    background-image: url(/img/color-300343_1920.jpg);
    background-size: cover;
    color: gainsboro;
    /* background-color: gray; */
    height: 15vh;
    max-width: 60vw;
    padding: 0 20px;
    margin: 5vh auto;
    line-height: 15vh;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0;
    transition: 0.8s;
    border: 2px solid dodgerblue;
}

div.active {
    opacity: 1;
    letter-spacing: 3px;
    transform: scale(1.2);
}

button.start {
    display: block;
    width: 12vw;
    height: 10vh;
    margin: 30px auto;
    font-size: 28px;
    font-family: fantasy;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.result {
    width: 80%;
    height: 12vh;
    line-height: 12vh;
    margin: 0 auto;
    font-size: 70px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(24, 55, 142);
    border: 2px solid black;
    letter-spacing: 6px;
    transition: 0.3s;
    transform: scale(0);
}

div.result.run {
    transform: scale(1);
}