* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.colors {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(184, 176, 176);
    height: 30vh;

}

div.colors div {
    box-shadow: 0 0 8px white;
}

div.red {
    width: 15vh;
    height: 15vh;
    background-color: red
}

div.green {
    width: 15vh;
    height: 15vh;
    background-color: green;
}

div.blue {
    width: 15vh;
    height: 15vh;
    background-color: blue;
}

div.yellow {
    width: 15vh;
    height: 15vh;
    background-color: yellow;
}

div.purple {
    width: 15vh;
    height: 15vh;
    background-color: purple;
}

div.black {
    width: 15vh;
    height: 15vh;
    background-color: black;
}

div.showColors {
    height: 20vh;
    max-width: 70vw;
    padding: 0 20px;
    margin: 5vh auto;
    line-height: 20vh;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0;
    transition: 0.8s;
    border: 2px dashed dodgerblue;
}

div.active {
    opacity: 1;
    letter-spacing: 3px;
}

button.start {
    display: block;
    width: 12vw;
    height: 10vh;
    margin: 30px auto;
    font-size: 28px;
    font-family: fantasy;
    text-transform: uppercase;
    letter-spacing: 2px;
}